<a href="https://colab.research.google.com/github/stb2145/cig/blob/master/Week_5_Salinity_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 2: Pandas, NumPy, SciPy**

**Learning Goals**
- Learn about/ `import` [Python libraries](http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html) (20 min)
- Learn about [Pandas](http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html) (40 min)
- Learn about SciPy (30 min)

### **Icebreaker!**
> **How many oceans are there?** ðŸ¤”...

##### Sort of a trick question...

# **Solution to Week 1 exercises**

In [ ]:
#Boolean 
indian_ocean = 30 #ËšC
atlantic_ocean = 28 #ËšC

indian_ocean == atlantic_ocean

In [ ]:
# in statement
oceans = ['Arctic','Atlantic','Pacific','Indian']

In [ ]:
#check to see if the Southern Ocean is included in our `oceans` variable
'Southern' in oceans

In [ ]:
# if statement

temp1 = 30 #ËšC
temp2 = 0 #ËšC

if (temp1 != temp2):
  print('temp1 does not equal temp2')

> **We measure ocean temperature and depth with argo floats. What else do you think an Argo float measures in the water?**

# **Ocean Salinity**

### Salt vs Salinity

> **Salts** are compounds like sodium chloride, magnesium sulfate, potassium nitrate, and sodium bicarbonate which dissolve into ions.

> **Salinity** is the quantity of dissolved salt content of the water. It is measured as a mass fraction, or the ratio of dissolved salts (g) to a unit mass of water (kg). Often the unit for salinity is expressed as "practical salinity unit" (psu= $\frac{g}{kg}$).

<img width=800 src="https://smap.jpl.nasa.gov/system/news_items/main_images/1265_SMAP_salinity.jpg">

> **Based on the figure above...**
>
> **1) Which ocean basin is the saltiest/freshest?**
>
> **2) What is the average salinity of the ocean?**

# **What are Python Libraries?**
##Most of the power of a programming language is in its libraries.

> A Python package is a collection/directory of Python modules. In other words, it's a library of python files and in those files are scripts of code with specific functions.

<img src='https://drive.google.com/uc?id=1C7Y1p1Nlj0QhLqEPUGMoU6FP1QWMqrFU' width="520" height="300" />

- A library is a collection of files (called modules) that contains functions for use by other programs.
 - May also contain data values (e.g., numerical constants) and other things.
 - Libraryâ€™s contents are supposed to be related, but thereâ€™s no way to enforce that.
- The Python [standard library](https://docs.python.org/3/library/) is an extensive suite of modules that comes with Python itself.
- Many additional libraries are available from [PyPI](https://pypi.org/) (the Python Package Index).
- We will see later how to write new libraries.

> **Libraries and Modules**
>
> A library is a collection of modules, but the terms are often used interchangeably, especially since many libraries only consist of a single module, so donâ€™t worry if you mix them.

# A program must import a library module before using it.

- Use `import` to load a library module into a programâ€™s memory.
- Then refer to things from the module as `module_name.thing_name`.
 - Python uses `.` to mean â€œpart ofâ€.
- Using `numpy`, one of the modules in the standard library:

In [ ]:
import numpy

print('pi is', numpy.pi)
print('cos(pi) is', numpy.cos(numpy.pi))

> Have to refer to each item with the moduleâ€™s name.
>> `numpy.cos(pi)` wonâ€™t work: the reference to `pi` doesnâ€™t somehow â€œinheritâ€ the functionâ€™s reference to `numpy`

## Use `help` to learn about the contents of a library module.

> [Numpy Documentation](https://numpy.org/doc/)

In [ ]:
import math
help(math)

### Difference between `math` and `numpy`
[from StackOverflow](https://stackoverflow.com/questions/41648058/what-is-the-difference-between-import-numpy-and-import-math)

- Use `math` if you are doing simple comutations with only with scalars (and no lists or arrays).
> `math` is part of the standard python library. It provides functions for basic mathematical operations as well as some commonly used constants.

- Use `numpy` if you are doing scientific computations with matrices, arrays, or large datasets.
> numpy on the other hand is a third party package geared towards scientific computing. It is the defacto package for numerical and vector operations in python. It provides several routines optimized for vector and array computations as a result, is a lot faster for such operations than say just using python lists. See http://www.numpy.org/ for more info.

## Import specific items from a library module to shorten programs.

In [ ]:
from numpy import cos, pi

print('cos(pi) is', cos(pi))

## Create an alias for a library module when importing it to shorten programs.

> Use `import ... as ...` to give a library a short alias while importing it.
>
> Then refer to items in the library using that shortened name.

In [ ]:
import numpy as np

print('cos(pi) is', np.cos(np.pi))

### Essential Python libraries:

- `numpy`
- `pandas`
- `matplotlib`

### Create alias for these libraries:

In [2]:
import numpy as np
import pandas as pd
import scipy

## A few exercises:

## 1)

When a colleague of yours types `help(math)`, Python reports an error:

`NameError: name 'math' is not defined`

What has your colleague forgotten to do?

In [ ]:
#type solution here

## 2)
Take the square root of a 4x4 2-D array with the number 144 in the diagonals and 0's elsewhere.

In [ ]:
a = 144 * np.eye()
np.sqrt(a)

## 3)
Create a 1D array of numbers going from 0 to 20 with 2 as the step count.

What is the length of this object?

In [ ]:
x = np.arange(0, 20, 2)
len(x)

# **Pandas!**

<img width="400" src='https://miro.medium.com/max/1400/1*KdxlBR9P3mDp9JZ_URMdYQ.jpeg'>

## No but seriously, `pandas` is a powerful Python library that allows for efficient, high-performing analysis (typically statistics) on _tabular_ data (i.e. excel sheet type of data).

### Pandas Capabilities

[Documentation](https://pandas.pydata.org/pandas-docs/stable/)


- A fast and efficient DataFrame object for data manipulation with integrated indexing;
- Tools for reading and writing data between in-memory data structures and different formats: CSV and text files, Microsoft Excel, SQL databases, and the fast HDF5 format;
- Intelligent data alignment and integrated handling of missing data: gain automatic label-based alignment in computations and easily manipulate messy data into an orderly form;
- Flexible reshaping and pivoting of data sets;
- Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
- Columns can be inserted and deleted from data structures for size mutability;
- Aggregating or transforming data with a powerful group by engine allowing split-apply-combine operations on data sets;
- High performance merging and joining of data sets;
- Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
- Time series-functionality: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging. Even create domain-specific time offsets and join time series without losing data;
- Highly optimized for performance, with critical code paths written in Cython or C.
- Python with pandas is in use in a wide variety of academic and commercial domains, including Finance, Neuroscience, Economics, Statistics, Advertising, Web Analytics, and more.

### **There are two main data structures in pandas**

> **Data Series**: 1-dimensional array of values with an index
>
> **Data Frame**: 2-dimensional array of values with a row and a column index

### Data series (left), Data Frame (right)

Introduce pd frame and series with class age and height, with the names as index and age/height as values.

<img width="500" src='https://miro.medium.com/max/1400/1*o5c599ueURBTZWDGmx1SiA.png'>

> Anytime you need more information on a package/function, call `?` after the function name.

In [ ]:
pd?

#### **Example of a pandas Data Series:**

In [ ]:
#create index
names = ['Shanice', 'Jonathan', 'Rahim']
#create data values
ages = [121, 90, 83]
#height = []

In [ ]:
biopy = #create pandas series

> You can use many statistical functions on both Series and DataFrames.

In [ ]:
#oldest age in your series
club.max()

In [ ]:
#youngest age value in your series
club.min()

In [ ]:
#average age in the whole club
club.mean()

> **Ocean basins pandas series**

In [ ]:
ocean_basins = ['Arctic', 'Atlantic', 'Indian', 'Pacific', 'Southern']
avg_salinity = [32, 35, 34.5, 35, 34.7]
ds = pd.Series(data=avg_salinity, index=ocean_basins, name="Ocean basins' average salinities")

In [ ]:
ds

In [ ]:
# If you're not sure what the index of your pd series is:
ds.index

In [ ]:
# If you're not sure what the values of your pd series are:
ds.values

> **Find the freshest ocean basin(s)**

In [ ]:
#first find the minimum salinity value
ds.min()

In [ ]:
#next find the index associated with that salinity value
ds[ds == 32.0]

In [ ]:
#another way to write the same code!
ds[ds == ds.min()]

> **Find the saltiest ocean basin(s)**

In [ ]:
#your code here

In [ ]:
#your code here

#### **Example of a pandas Data Frame:**

In [19]:
#first create a dictionary
ocean_basins = ['Arctic', 'Atlantic', 'Indian', 'Pacific', 'Southern']
avg_salinity = [32, 35, 34.5, 35, 34.7]
avg_temp = [-1.8, 14, 22, 20, 4]

avg_data = {'avg_salinity': avg_salinity,
        'avg_temp': avg_temp}


df = pd.DataFrame(data=avg_data, index=ocean_basins)

In [20]:
df

          avg_salinity  avg_temp
Arctic            32.0      -1.8
Atlantic          35.0      14.0
Indian            34.5      22.0
Pacific           35.0      20.0
Southern          34.7       4.0

In [ ]:
df.info()

> You can use many statistical functions on both Series and DataFrames.

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.mean()

> Or, if you want all the basic stats, you can call `describe()`

In [ ]:
df.describe()

> We can get a single column as a Series using python's getitem syntax on the DataFrame object.

In [ ]:
df['avg_salinity']

> or using attribute syntax.

In [ ]:
df.avg_salinity

## Indexing & Slicing

In [5]:
df.loc['Southern']

avg_salinity    34.7
avg_temp         4.0
Name: Southern, dtype: float64

In [6]:
df.iloc[-1]

avg_salinity    34.7
avg_temp         4.0
Name: Southern, dtype: float64

> we can also specify the column we want to access

In [7]:
df.loc['Southern', 'avg_temp']

4.0

In [8]:
df.iloc[-1,1]

4.0

> If we make a calculation using columns from the DataFrame, it will keep the same index:

In [ ]:
df.avg_salinity * df.avg_temp

> Which we can easily add as another column to the DataFrame:

In [28]:
df['TS'] = df.avg_salinity * df.avg_temp

In [29]:
df.TS.mean()

406.04

In [30]:
df

          avg_salinity  avg_temp     TS
Arctic            32.0      -1.8  -57.6
Atlantic          35.0      14.0  490.0
Indian            34.5      22.0  759.0
Pacific           35.0      20.0  700.0
Southern          34.7       4.0  138.8

> Now let's add a row to the Dataframe:

In [35]:
#create new DataFrame object of global averages
values = {'avg_salinity':df.avg_salinity.mean(), 
          'avg_temp':df.avg_temp.mean(), 'TS':df.TS.mean()}
index = ['Global']
globe = pd.DataFrame(data=values, index=index)
globe

        avg_salinity  avg_temp      TS
Global         34.24      11.6  406.04

In [40]:
df_new = df.append(globe)

In [41]:
df_new

          avg_salinity  avg_temp      TS
Arctic           32.00      -1.8  -57.60
Atlantic         35.00      14.0  490.00
Indian           34.50      22.0  759.00
Pacific          35.00      20.0  700.00
Southern         34.70       4.0  138.80
Global           34.24      11.6  406.04

> **Find the following in this dataframe:**

In [ ]:
#What ocean basin has the coldest average temperature? What is that temperature?
df.avg_temp.min()

In [ ]:
df.avg_salinity.plot(kind='bar')

In [ ]:
df.plot(kind='bar')